# Dependencies
node_modules

# Build outputs
dist
build
coverage

# Cache
.cache
.vite
.turbo

# Logs
*.log
logs

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea

# OS
.DS_Store
Thumbs.db

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Git hooks
.husky
