@import 'tailwindcss';

@import './fonts.css';
@import './theme.css';

body {
  @apply font-sans;
  background: var(--color-bg);
  color: var(--color-black);
  font-optical-sizing: none;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-size: var(--text-lg);
}

p {
  font-size: var(--text-md);
}
