@theme {
  --color-blue-100: oklch(85% 0.1 265.5);
  --color-blue-400: oklch(63% 0.21 265.5);
  --color-blue-600: oklch(50% 0.21 265.5);
  --color-blue-700: oklch(42% 0.18 265.5);
  --color-blue-800: oklch(34% 0.15 265.5);
  --color-black: #1e1e1f;
  --color-bg: #e9f0fe;

  --font-sans: 'DM Sans', sans-serif;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 20px;
}
